body,#root
{
    background: #b1b4b7;
    height: 100%;
}

.title-wrapper
{
    padding-top: 10px;
    text-align: center;
}

.gridwrappper
{
    height: 100%;
    width:  900%;
    margin: 0 auto;
}

.titlewhite
{
    padding-top: 20px;
    color: #ffffff;
        
}

.titledark
{
    color: #000000;       
}